:root {
  --primary-color: #ECB365;
  --secondary-color: #04293A;
  --text-color: #EEEEEE;
  --light-color: #064663;
  --light-color-rgb: 6, 70, 99;
  --dark-color: #041C32;
  --dark-color-rgb: 4, 28, 50;
  --max-width: 1100px;
}

.category {
  --sports-color: #F99500;
  --ent-color: #A66BBE;
  --tech-color: #009CFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5em 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
  margin-bottom: 0.88rem;
  line-height: 1.3;
}

hr {
  max-width: var(--max-width);
  border-color: #787a9157;
  margin: 1em auto;
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 0;
}

/* Utility */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2em;
  overflow: hidden;
}

.text-primary {
  color: var(--primary-color);
}

.category {
  display: inline-block;
  font-size: .55em;
  text-transform: uppercase;
  padding: 0.8em 1.2em;
  border-radius: 15px;
  margin-bottom: 1em;
  font-weight: bold;
}

.category-sports {
  background-color: var(--sports-color);
}

.category-ent {
  background-color: var(--ent-color);
}

.category-tech {
  background-color: var(--tech-color);
}

.btn {
  display: inline-block;
  border: none;
  background-color: var(--dark-color);
  color: var(--text-color) !important;
  padding: 0.5em 1.5em;
  border-radius: 5px;
}

.btn-light {
  background-color: var(--light-color);
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--dark-color) !important;
}

.btn-secondary {
  background-color: var(--light-color);
  color: var(--primary-color) !important;
}

.btn:hover {
  opacity: 0.85;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.card {
  background-color: var(--dark-color);
  padding: 1em;
  border-radius: 10px;
}

.bg-light {
  background-color: var(--light-color);
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.bg-secondary {
  background-color: var(--text-color);
  color: var(--dark-color);
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a {
  color: var(--dark-color);
}

.py-1 {
  padding: 1em 0;
}

.py-2 {
  padding: 2em 0;
}

.py-3 {
  padding: 3em 0;
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.l-heading {
  font-size: 3em;
}

.list li {
  padding: 0.2em 0;
  border-bottom: dotted 1px var(--light-color);
  width: 90%;
}

.list li a:hover {
  color: var(--primary-color)
}

/* Inner Page Grid Container */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  margin: 2em 0;
  gap: 1em;
}

.page-container>*:first-child {
  grid-row: 1 / span 3;
}

/* Navigation */
#main-nav {
  background-color: rgba(var(--dark-color-rgb), 0.98);
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: solid 2px rgba(var(--light-color-rgb), 0.5);
}

#main-nav .container {
  display: grid;
  grid-template-columns: 5fr 3fr 2fr;
  padding: 1em;
  align-items: center;
}

#main-nav ul {
  justify-self: end;
  display: flex;
}

#main-nav ul li a {
  padding: 0.75em;
  font-weight: bold;
  border-radius: 5px;
}

#main-nav ul li a.current {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

#main-nav ul li a:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);

}

#main-nav .social {
  justify-self: center;
}

#main-nav .social i {
  color: #787A91;
  margin-right: 0.4em;
}

#main-nav .social i:hover {
  opacity: 0.7;
}

/* Showcase */
#showcase {
  background-color: #333;
  padding: 2em;
  position: relative;
}

#showcase::before {
  content: '';
  background: url('../img/featured.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#showcase .showcase-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#showcase .showcase-content {
  z-index: 1;
}

#showcase .showcase-content p {
  margin-bottom: 1em;
}

/* Home Articles */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#home-articles .articles-container>*:first-child,
#home-articles .articles-container>*:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  grid-column: 1 / span 2;
  align-items: center;
}

#home-articles .articles-container>*:last-child {
  grid-column: 2 / span 2;
}

#article .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-color);
  padding: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  border-radius: 3px;
}

#article .meta .category {
  margin-top: 0.8em;
}

/* Footer */
#main-footer .logo {
  font-size: 1.5em;
}

#main-footer .footer-container {
  position: relative;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);
}

#main-footer .footer-container>*:last-child {
  grid-column: 1 / span 4;
  text-align: center;
  font-size: 0.8em;
}

#main-footer .footer-container input[type='email'] {
  width: 90%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

#main-footer .footer-container input[type='submit'] {
  width: 90%;
}